
<ifModule mod_deflate.c>
      AddOutputFilterByType DEFLATE text/plain text/html
      AddOutputFilterByType DEFLATE text/css
      AddOutputFilterByType DEFLATE text/javascript application/javascript
      AddOutputFilterByType DEFLATE application/vnd.ms-fontobject application/x-font-ttf font/opentype image/svg+xml image/x-icon 
</ifModule>

<ifModule mod_headers.c>	
	<FilesMatch "\.(html|htm)$">
		Header set Cache-Control "max-age=86400"
	</FilesMatch>	
	<FilesMatch "\.(js|css|txt)$">
		Header set Cache-Control "max-age=1209600"
	</FilesMatch>	
	<FilesMatch "\.(flv|swf|ico|gif|jpg|jpeg|png|svg|JPG|ttf)$">
		Header set Cache-Control "max-age=1209600"
	</FilesMatch>	
	<FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
		Header unset Cache-Control
	</FilesMatch>
</IfModule>
